# Challenge 2: Sentiment Analysis

In this challenge we will learn sentiment analysis and practice performing sentiment analysis on Twitter tweets. 

## Introduction

Sentiment analysis is to *systematically identify, extract, quantify, and study affective states and subjective information* based on texts ([reference](https://en.wikipedia.org/wiki/Sentiment_analysis)). In simple words, it's to understand whether a person is happy or unhappy in producing the piece of text. Why we (or rather, companies) care about sentiment in texts? It's because by understanding the sentiments in texts, we will be able to know if our customers are happy or unhappy about our products and services. If they are unhappy, the subsequent action is to figure out what have caused the unhappiness and make improvements.

Basic sentiment analysis only understands the *positive* or *negative* (sometimes *neutral* too) polarities of the sentiment. More advanced sentiment analysis will also consider dimensions such as agreement, subjectivity, confidence, irony, and so on. In this challenge we will conduct the basic positive vs negative sentiment analysis based on real Twitter tweets.

NLTK comes with a [sentiment analysis package](https://www.nltk.org/api/nltk.sentiment.html). This package is great for dummies to perform sentiment analysis because it requires only the textual data to make predictions. For example:

```python
>>> from nltk.sentiment.vader import SentimentIntensityAnalyzer
>>> txt = "Ironhack is a Global Tech School ranked num 2 worldwide.  
 
Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."
>>> analyzer = SentimentIntensityAnalyzer()
>>> analyzer.polarity_scores(txt)
{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}
```

In this challenge, however, you will not use NLTK's sentiment analysis package because in your Machine Learning training in the past 2 weeks you have learned how to make predictions more accurate than that. The [tweets data](https://www.kaggle.com/kazanova/sentiment140) we will be using today are already coded for the positive/negative sentiment. You will be able to use the Naïve Bayes classifier you learned in the lesson to predict the sentiment of tweets based on the labels.

## Conducting Sentiment Analysis

### Loading and Exploring Data

The dataset we'll be using today is located on Kaggle (https://www.kaggle.com/kazanova/sentiment140). Once you have downloaded and imported the dataset, it you will need to define the columns names: df.columns = ['target','id','date','flag','user','text']

*Notes:* 

* The dataset is huuuuge (1.6m tweets). When you develop your data analysis codes, you can sample a subset of the data (e.g. 20k records) so that you will save a lot of time when you test your codes.

In [3]:
# your code here

import pandas as pd

data = pd.read_csv('../training.1600000.processed.noemoticon.csv',encoding='ISO-8859-1',header=None)
data.columns=['target','id','date','flag','user','text']

data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

### Prepare Textual Data for Sentiment Analysis

Now, apply the functions you have written in Challenge 1 to your whole data set. These functions include:

* `clean_up()`

* `tokenize()`

* `stem_and_lemmatize()`

* `remove_stopwords()`

Create a new column called `text_processed` in the dataframe to contain the processed data. At the end, your `text_processed` column should contain lists of word tokens that are cleaned up. Your data should look like below:

![Processed Data](data-cleaning-results.png)

In [13]:
# your code here

import re
from nltk.tokenize import word_tokenize
# from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

def clean_up(s):
    
    # removes urls beginning 'http' or 'www.'
    s = re.sub('\\bhttp[^ ]*','',s)
    s = re.sub('\\bwww.[^ ]*','',s)

    # removes special characters and numbers and replaces with space
    s = re.sub('[\W\d]',' ',s)

    # makes lower case
    s = s.lower()

    return s

def tokenize(s):
    return word_tokenize(s)

def stem_and_lemmatize(list):
    ps = PorterStemmer()
    lz = WordNetLemmatizer() 
    
    # stemmed = [ps.stem(word) for word in list]
    lemmatized = [lz.lemmatize(word) for word in list]

    return lemmatized # only want one not both

def remove_stopwords(l):
    without_sw = [word for word in l if not word in stopwords.words('english')]
    return without_sw

In [7]:
# take a sample of the dataset
sample=data.sample(n=20000,random_state=1234)
display(sample.shape)
sample.head()

(20000, 6)

,target,id,date,flag,user,text
1062048,4,1964017646,Fri May 29 13:35:57 PDT 2009,NO_QUERY,ashakur,@PcShakur I guess so. We should go make it a f...
1236895,4,1992914899,Mon Jun 01 09:31:47 PDT 2009,NO_QUERY,RabbiShaiSpecht,@PsychicSophie Thank you!
1237054,4,1992954642,Mon Jun 01 09:35:38 PDT 2009,NO_QUERY,RobinRene7,it's just another day here at the office...I a...
229979,0,1978627799,Sat May 30 23:57:09 PDT 2009,NO_QUERY,valfvergara,@triciasays i miss kickboxing
760772,0,2296927988,Tue Jun 23 09:48:35 PDT 2009,NO_QUERY,SarahAnnGreen,@AmandaFClark Thats rubbish!

In [17]:
clean = sample['text'].apply(clean_up)

token = clean.apply(tokenize)

lemmatized = token.apply(stem_and_lemmatize)

text_processed = lemmatized.apply(remove_stopwords)

In [18]:
sample['text_processed'] = text_processed

sample.head()

,target,id,date,flag,user,text,text_processed
1062048,4,1964017646,Fri May 29 13:35:57 PDT 2009,NO_QUERY,ashakur,@PcShakur I guess so. We should go make it a f...,"[pcshakur, guess, go, make, family, affair]"
1236895,4,1992914899,Mon Jun 01 09:31:47 PDT 2009,NO_QUERY,RabbiShaiSpecht,@PsychicSophie Thank you!,"[psychicsophie, thank]"
1237054,4,1992954642,Mon Jun 01 09:35:38 PDT 2009,NO_QUERY,RobinRene7,it's just another day here at the office...I a...,"[another, day, office, ready, tonight, back, p..."
229979,0,1978627799,Sat May 30 23:57:09 PDT 2009,NO_QUERY,valfvergara,@triciasays i miss kickboxing,"[triciasays, miss, kickboxing]"
760772,0,2296927988,Tue Jun 23 09:48:35 PDT 2009,NO_QUERY,SarahAnnGreen,@AmandaFClark Thats rubbish!,"[amandafclark, thats, rubbish]"

In [19]:
# sample.to_csv('sample.csv')

### Creating Bag of Words

The purpose of this step is to create a [bag of words](https://en.wikipedia.org/wiki/Bag-of-words_model) from the processed data. The bag of words contains all the unique words in your whole text body (a.k.a. *corpus*) with the number of occurrence of each word. It will allow you to understand which words are the most important features across the whole corpus.

Also, you can imagine you will have a massive set of words. The less important words (i.e. those of very low number of occurrence) do not contribute much to the sentiment. Therefore, you only need to use the most important words to build your feature set in the next step. In our case, we will use the top 5,000 words with the highest frequency to build the features.

In the cell below, combine all the words in `text_processed` and calculate the frequency distribution of all words. A convenient library to calculate the term frequency distribution is NLTK's `FreqDist` class ([documentation](https://www.nltk.org/api/nltk.html#module-nltk.probability)). Then select the top 5,000 words from the frequency distribution.

In [21]:
def re_blob(row):
    return " ".join(row['text_processed'])
sample['clean_blob'] = sample.apply(re_blob,axis=1)

sample.head()

,target,id,date,flag,user,text,text_processed,clean_blob
1062048,4,1964017646,Fri May 29 13:35:57 PDT 2009,NO_QUERY,ashakur,@PcShakur I guess so. We should go make it a f...,"[pcshakur, guess, go, make, family, affair]",pcshakur guess go make family affair
1236895,4,1992914899,Mon Jun 01 09:31:47 PDT 2009,NO_QUERY,RabbiShaiSpecht,@PsychicSophie Thank you!,"[psychicsophie, thank]",psychicsophie thank
1237054,4,1992954642,Mon Jun 01 09:35:38 PDT 2009,NO_QUERY,RobinRene7,it's just another day here at the office...I a...,"[another, day, office, ready, tonight, back, p...",another day office ready tonight back playing ...
229979,0,1978627799,Sat May 30 23:57:09 PDT 2009,NO_QUERY,valfvergara,@triciasays i miss kickboxing,"[triciasays, miss, kickboxing]",triciasays miss kickboxing
760772,0,2296927988,Tue Jun 23 09:48:35 PDT 2009,NO_QUERY,SarahAnnGreen,@AmandaFClark Thats rubbish!,"[amandafclark, thats, rubbish]",amandafclark thats rubbish

In [22]:
# your code here
from sklearn.feature_extraction.text import CountVectorizer
bow_vect = CountVectorizer()
bow_vect.fit(sample.clean_blob)

CountVectorizer()

In [23]:
bow_df = pd.DataFrame(bow_vect.transform(sample['clean_blob']).toarray(),
                    columns=bow_vect.get_feature_names_out())

bow_df.head()

,__dev_dsp,__dr__,__mares__,_abi_,_adriii,_aliciaa_,_alii,_allyson,_alps,_anaya_,...,ð¼ðµð½ñ,ð½,ð½ð,ð½ðµ,ð½ðµð,ð½ð¾,ð½ñ,ð¾,ð¾ð,ð¾ñ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
bow_vect.vocabulary_

{'pcshakur': 17593,
 'guess': 9475,
 'go': 9082,
 'make': 14311,
 'family': 7752,
 'affair': 380,
 'psychicsophie': 18631,
 'thank': 23276,
 'another': 1100,
 'day': 5638,
 'office': 16863,
 'ready': 19064,
 'tonight': 23956,
 'back': 1754,
 'playing': 18071,
 'bell': 2196,
 'singing': 21195,
 'triciasays': 24217,
 'miss': 15263,
 'kickboxing': 12662,
 'amandafclark': 806,
 'thats': 23303,
 'rubbish': 19941,
 'nalicious': 16042,
 'sorry': 21729,
 'hear': 9901,
 'cat': 3725,
 'new': 16315,
 'york': 26546,
 'missing': 15290,
 'tay': 23011,
 'cause': 3759,
 'show': 21030,
 'pullingteeeth': 18669,
 'ikr': 10792,
 'summer': 22513,
 'way': 25533,
 'fast': 7817,
 'guy': 9519,
 'much': 15831,
 'whatsmysection': 25723,
 'wan': 25425,
 'na': 16003,
 'pool': 18218,
 'weather': 25564,
 'suck': 22447,
 'one': 17023,
 'really': 19096,
 'want': 25438,
 'bored': 2814,
 'love': 13975,
 'ryan': 20026,
 'seem': 20573,
 'lurgy': 14109,
 'today': 23882,
 'limbeck': 13587,
 'mailed': 14282,
 'buying': 3368,
 'quot': 18852,
 'honk': 10318,
 'wave': 25524,
 'band': 1873,
 'sticker': 22223,
 'week': 25609,
 'ago': 442,
 'never': 16310,
 'got': 9199,
 'response': 19447,
 'wish': 25949,
 'would': 26122,
 'see': 20562,
 'eye': 7641,
 'heart': 9905,
 'buttercup': 3351,
 'ten': 23159,
 'midnight': 15081,
 'officially': 16873,
 'enrolled': 7253,
 'next': 16335,
 'term': 23190,
 'wee': 25598,
 'come': 4619,
 'daily': 5410,
 'allowance': 723,
 'yet': 26490,
 'hate': 9798,
 'saturday': 20291,
 'class': 4379,
 'trixie': 24253,
 'cutest': 5323,
 'thing': 23544,
 'ikea': 10789,
 'date': 5579,
 'yeah': 26425,
 'baby': 1735,
 'dor': 6473,
 'able': 145,
 'sweetie': 22745,
 'riot': 19653,
 'woke': 26007,
 'damn': 5448,
 'laundry': 13203,
 'fagunbhavsar': 7702,
 'aamras': 90,
 'thepla': 23447,
 'ipl': 11195,
 'getting': 8890,
 'realised': 19084,
 'need': 16194,
 'wide': 25828,
 'open': 17087,
 'space': 21787,
 'excluding': 7548,
 'hubbster': 10492,
 'josephfrost': 12055,
 'yeahh': 26427,
 'pretty': 18446,
 'awesome': 1641,
 'travismtv': 24173,
 'left': 13346,
 'sa': 20052,
 'man': 14367,
 'time': 23751,
 'wanted': 25441,
 'interview': 11136,
 'keep': 12529,
 'good': 9139,
 'work': 26088,
 'finished': 8043,
 'thinking': 23555,
 'travel': 24164,
 'around': 1325,
 'world': 26104,
 'lol': 13821,
 'dream': 6583,
 'juliajayy': 12184,
 'hahaha': 9596,
 'yoooou': 26541,
 'well': 25647,
 'call': 3464,
 'get': 8878,
 'home': 10278,
 'school': 20393,
 'okay': 16945,
 'vid': 25159,
 'fave': 7837,
 'song': 21660,
 'shaundiviney': 20830,
 'yes': 26477,
 'coz': 5027,
 'exactly': 7521,
 'ego': 6983,
 'boost': 2793,
 'naaaw': 16006,
 'im': 10834,
 'mean': 14779,
 'minor': 15216,
 'mechanical': 14794,
 'failure': 7709,
 'thought': 23616,
 'id': 10706,
 'snapped': 21502,
 'bonnet': 2747,
 'release': 19311,
 'cable': 3404,
 'trying': 24305,
 'top': 23995,
 'oil': 16934,
 'water': 25511,
 'dislodged': 6221,
 'phew': 17817,
 'rev': 19501,
 'run': 19971,
 'fam': 7747,
 'hawaii': 9831,
 'jealous': 11609,
 'looking': 13874,
 'forward': 8353,
 'business': 3333,
 'trip': 24237,
 'manchester': 14378,
 'sarahamurdoch': 20232,
 'went': 25660,
 'last': 13162,
 'year': 26433,
 'everything': 7490,
 'wa': 25333,
 'closed': 4443,
 'co': 4491,
 'rain': 18931,
 'think': 23552,
 'supermarket': 22589,
 'emptier': 7194,
 'morning': 15611,
 'least': 13319,
 'traffic': 24118,
 'lighter': 13540,
 'homie_lisalisa': 10296,
 'jr': 12115,
 'high': 10122,
 'ashlidurdu': 1406,
 'mee': 14809,
 'ddlovato': 5680,
 'rock': 19761,
 'demi': 5873,
 'kansa': 12356,
 'concert': 4726,
 'iam': 10630,
 'huge': 10501,
 'fan': 7756,
 'replied': 19396,
 'thanks': 23285,
 'sundi_moz': 22539,
 'fine': 8034,
 'turned': 24381,
 'busy': 3338,
 'friday': 8485,
 'headache': 9874,
 'knock': 12847,
 'early': 6828,
 'email': 7113,
 'monday': 15506,
 'blindsmandc': 2576,
 'hey': 10079,
 'name': 16047,
 'threw': 23633,
 'second': 20546,
 'put': 18740,
 'pic': 17886,
 'myapplestuff': 15937,
 'weekend': 25611,
 'faboosh': 7666,
 'favorite': 7844,
 'word': 26077,
 'someone': 21640,
 'let': 13436,
 'perez': 17702,
 'know': 12859,
 'amazeballs': 818,
 'catch': 3731,
 'halfamazin': 9634,
 'ugh': 24643,
 'night': 16440,
 'wack': 25347,
 'part': 17451,
 'people': 17676,
 'annoying': 1085,
 'moment': 15481,
 'ur': 24891,
 'nite': 16518,
 'happy': 9726,
 'th': 23258,
 'birthday': 2459,
 'tetri': 23228,
 'auckland': 1542,
 'tomorrow': 23936,
 'slew': 21366,
 'anythg': 1160,
 'market': 14531,
 'area': 1272,
 'coffee': 4533,
 'food': 8284,
 'weird': 25631,
 'wonderful': 26027,
 'etc': 7414,
 'bb_nation': 2005,
 'yep': 26471,
 'solution': 21624,
 'offer': 16858,
 'question': 18823,
 'still': 22230,
 'try': 24303,
 'search': 20522,
 'australia': 1576,
 'influential': 10996,
 'twitterer': 24521,
 'enough': 7249,
 'nose': 16650,
 'burned': 3319,
 'lmao': 13753,
 'working': 26094,
 'beautiful': 2079,
 'smell': 21446,
 'fresh': 8464,
 'polluted': 18187,
 'air': 506,
 'outside': 17218,
 'friend': 8488,
 'ha': 9554,
 'invited': 11168,
 'wedding': 25591,
 'small': 21422,
 'town': 24071,
 'bilecik': 2414,
 'seems': 20576,
 'either': 7002,
 'goodbye': 9140,
 'sweet': 22735,
 'junderstated': 12211,
 'awwww': 1669,
 'broke': 3125,
 'amp': 883,
 'dont': 6442,
 'job': 11892,
 'wana': 25426,
 'cry': 5206,
 'tcot': 23035,
 'sgp': 20728,
 'oh': 16889,
 'gorgeous': 9184,
 'humid': 10534,
 'free': 8436,
 'houston': 10446,
 'god': 9087,
 'bless': 2565,
 'texas': 23232,
 'recovering': 19167,
 'surgery': 22635,
 'wishing': 25954,
 'julesrenner': 12179,
 'reldes': 19309,
 'enjoy': 7239,
 'match': 14635,
 'hanging': 9686,
 'round': 19889,
 'waiting': 25381,
 'fella': 7921,
 'measure': 14788,
 'flooring': 8188,
 'biking': 2411,
 'later': 13175,
 'though': 23614,
 'better': 2309,
 'note': 16658,
 'queue': 18827,
 'vote': 25298,
 'evening': 7463,
 'jam': 11438,
 'packed': 17309,
 'difficult': 6099,
 'stuff': 22390,
 'paper': 17405,
 'box': 2878,
 'happened': 9714,
 'thedailyblonde': 23358,
 'mornin': 15610,
 'mmmmmmmm': 15410,
 'cheadlek': 3994,
 'coming': 4636,
 'westlife': 25680,
 'dvd': 6775,
 'trademe': 24111,
 'morrow': 15626,
 'big': 2375,
 'yippee': 26506,
 'booking': 2769,
 'came': 3494,
 'hope': 10362,
 'like': 13550,
 'picture': 17902,
 'messed': 14966,
 'say': 20324,
 'rachel': 18878,
 'sara': 20221,
 'feeling': 7904,
 'soooo': 21684,
 'ill': 10806,
 'super': 22572,
 'sydney': 22795,
 'meeting': 14825,
 'john': 11945,
 'green': 9338,
 'soo': 21676,
 'excited': 7543,
 'davengeo': 5600,
 'banderas': 1875,
 'anti': 1122,
 'mike': 15114,
 'forget': 8324,
 'bet': 2290,
 'katrinalaws': 12459,
 'haha': 9590,
 'imissyouna': 10860,
 'downloading': 6531,
 'sims': 21171,
 'gt': 9450,
 'yay': 26401,
 'eric_from_aleks': 7329,
 'nothing': 16662,
 'uh': 24655,
 'may': 14707,
 'museum': 15885,
 'lavren': 13243,
 'cant': 3556,
 'wait': 25377,
 'june': 12212,
 'hil': 10142,
 'hangz': 9689,
 'sososo': 21736,
 'rohant': 19797,
 'cooly': 4883,
 'bed': 2112,
 'cuddling': 5253,
 'booo': 2782,
 'lost': 13941,
 'voice': 25275,
 'sound': 21748,
 'david': 5610,
 'archuleta': 1263,
 'taking': 22879,
 'lunch': 14100,
 'break': 2974,
 'great': 9318,
 'rehearsal': 19274,
 'unusual_peanut': 24852,
 'joke': 11983,
 'funny': 8607,
 'worst': 26116,
 'habit': 9569,
 'forgetting': 8326,
 'drink': 6627,
 'tea': 23045,
 'watching': 25505,
 'latest': 13183,
 'episode': 7300,
 'scrub': 20489,
 'boo': 2756,
 'two': 24554,
 'ever': 7469,
 'tweetdeck': 24425,
 'unicode': 24784,
 'crazysexycool': 5102,
 'booooooooooooo': 2788,
 'irishlad': 11226,
 'chirpy': 4157,
 'sorted': 21733,
 'hopefully': 10366,
 'feel': 7902,
 'ta': 22831,
 'doctor': 6361,
 'neck': 16189,
 'arch_angel_xiii': 1259,
 'purplehazeyobi': 18710,
 'fun': 8585,
 'lisa': 13648,
 'jillian': 11812,
 'replacement': 19390,
 '_rosiecakes': 43,
 'drunk': 6674,
 'lt': 14037,
 'xo': 26267,
 'alexa_chung': 615,
 'looove': 13889,
 'burberry': 3308,
 'trench': 24195,
 'course': 4993,
 'afford': 385,
 'mariajessica': 14489,
 'yup': 26641,
 'sometimes': 21647,
 'kc': 12505,
 'raining': 18939,
 'pque': 18342,
 'la': 13020,
 'pinas': 17941,
 'wondering': 26030,
 'mmfernandez': 15399,
 'sucker': 22451,
 'explorer': 7609,
 'roaming': 19714,
 'game': 8704,
 'climbing': 4428,
 'cool': 4876,
 'writing': 26164,
 'international': 11119,
 'festival': 7949,
 'shit': 20952,
 'write': 26159,
 'pagination': 17328,
 'anybody': 1151,
 'share': 20803,
 'clare': 4366,
 'sister': 21221,
 'kikirowr': 12693,
 'aw': 1624,
 'soon': 21678,
 'bb': 2004,
 'ear': 6822,
 'infection': 10986,
 'slowly': 21401,
 'killing': 12708,
 'asilarae': 1423,
 'tried': 24222,
 'loading': 13771,
 'full': 8580,
 'throttle': 23641,
 'scummvm': 20498,
 'ended': 7216,
 'pet': 17757,
 'scan': 20352,
 'bloodwork': 2620,
 'trendebarbie': 24197,
 'island': 11257,
 'safe': 20091,
 'repeating': 19384,
 'climb': 4426,
 'hannah': 9695,
 'montana': 15549,
 'done': 6422,
 'greatest': 9320,
 'kelly': 12557,
 'booze': 2805,
 'cousin': 5010,
 'rehersal': 19276,
 'dinner': 6142,
 'deejayschemes': 5780,
 'welcome': 25638,
 'twitter': 24516,
 'yea': 26419,
 'already': 755,
 'hungryandlazy': 10557,
 'com': 4609,
 'au': 1536,
 'website': 25586,
 'database': 5576,
 'replication': 19395,
 'rnd': 19705,
 'ipod': 11196,
 'devestated': 6011,
 'gymnast': 9545,
 'hehe': 9970,
 'skool': 21292,
 'evil': 7500,
 'science': 20403,
 'teacher': 23051,
 'hav': 9819,
 'exam': 7523,
 'tuxybuzz': 24395,
 'ffs': 7961,
 'meant': 14784,
 'terrible': 23200,
 'ive': 11327,
 'jenniesloan': 11685,
 'understandable': 24740,
 'maybe': 14712,
 'charitable': 3947,
 'aplusk': 1184,
 'right': 19627,
 'election': 7025,
 'rigged': 19624,
 'stink': 22239,
 'bad': 1779,
 'beaten': 2072,
 'first': 8069,
 'followfriday': 8260,
 'wiipigsooie': 25853,
 'confuse': 4757,
 'little': 13686,
 'bro': 3110,
 'sooooo': 21686,
 'courtneystorrie': 5007,
 'dude': 6717,
 'til': 23736,
 'october': 16841,
 'doe': 6372,
 'slow': 21397,
 'memory': 14916,
 'shipment': 20942,
 'holding': 10243,
 'assembly': 1449,
 'computer': 4713,
 'probably': 18507,
 'geraldaungst': 8867,
 'bumper': 3293,
 'prevent': 18451,
 'window': 25908,
 'moving': 15694,
 'screen': 20469,
 'pulling': 18668,
 'nighter': 16442,
 'lake': 13077,
 'via': 25126,
 'myspace': 15966,
 'fell': 7920,
 'asleep': 1432,
 'haa': 9555,
 'anyone': 1158,
 'leaving': 13326,
 'take': 22871,
 'please': 18081,
 'beg': 2155,
 'must': 15912,
 'escape': 7379,
 'boredom': 2819,
 'mercy': 14939,
 'dorney': 6483,
 'park': 17439,
 'girl': 8973,
 'nicolevsanchez': 16420,
 'congrats': 4768,
 'ask': 1424,
 'knittingknots': 12845,
 'baseball': 1945,
 'stand': 22041,
 'watch': 25501,
 'going': 9107,
 'stadium': 22020,
 'totally': 24038,
 'different': 6097,
 'matter': 14660,
 'twitted': 24515,
 'touch': 24048,
 'gen': 8818,
 'sadly': 20086,
 'none': 16595,
 'le': 13285,
 'hanster': 9705,
 'dance': 5466,
 'fall': 7734,
 'appropriate': 1233,
 'bummed': 3283,
 'omma': 17020,
 'social': 21566,
 'kristipavlik': 12959,
 'pibworth': 17885,
 'niagara': 16365,
 'canada': 3522,
 'fova_': 8371,
 'paula': 17544,
 'laying': 13260,
 'mac': 14180,
 'breaking': 2980,
 'virgin': 25214,
 'bubble': 3219,
 'thatâ': 23307,
 'goodnight': 9147,
 'blackberry': 2502,
 'dog': 6375,
 'bummerrr': 3286,
 'dissapointed': 6231,
 'wow': 26128,
 'gooo': 9161,
 'diversity': 6261,
 'act': 242,
 'amazing': 825,
 'revision': 19524,
 'xx': 26324,
 'watched': 25502,
 'duchess': 6708,
 'netflix': 16289,
 'depressing': 5921,
 'sad': 20072,
 'sibling': 21083,
 'couple': 4988,
 'hour': 10440,
 'glad': 9000,
 'calmer': 3476,
 'guitar': 9491,
 'hero': 10063,
 'tooooo': 23985,
 'easy': 6853,
 'nicer': 16375,
 'halo': 9645,
 'best': 2277,
 'tweet': 24419,
 'listening': 13669,
 'rehab': 19273,
 'rival': 19674,
 'glee': 9021,
 'club': 4460,
 'also': 761,
 'realized': 19088,
 'digital': 6109,
 'recorder': 19163,
 'usb': 24924,
 'port': 18259,
 'picked': 17892,
 'wrong': 26168,
 'model': 15444,
 'drinking': 6630,
 'oooops': 17077,
 'papercraftsbyk': 17406,
 'said': 20108,
 'kiddin': 12675,
 'every': 7478,
 'breath': 2987,
 'arduinocnn': 1271,
 'searched': 20523,
 'finally': 8024,
 'found': 8363,
 'hala': 9628,
 'hello': 10009,
 'frm': 8514,
 'madrid': 14237,
 'praniti': 18356,
 'julesey': 12176,
 'julie': 12187,
 'moonfrye': 15572,
 'always': 778,
 'online': 17034,
 'shopping': 20997,
 'failing': 7706,
 'vagina': 24982,
 'tshirt': 24314,
 'hungry': 10555,
 'eat': 6855,
 'icq': 10700,
 'xd': 26227,
 'uppercanuck': 24875,
 'blame': 2533,
 'sugarwilla': 22480,
 'making': 14319,
 'hurl': 10570,
 'rum': 19967,
 'pernillerosen': 17731,
 'sunday': 22537,
 'sleep': 21347,
 'mind': 15187,
 'long': 13852,
 'morfar': 15595,
 'something': 21643,
 'study': 22384,
 'rice': 19582,
 'planting': 18053,
 'blog': 2600,
 'fucked': 8558,
 'joshuardean': 12070,
 'mii': 15106,
 'list': 13664,
 'permanent': 17725,
 'sam_symons': 20154,
 'idk': 10719,
 'mem': 14904,
 'hog': 10233,
 'getn': 8884,
 'jailbroke': 11420,
 'wisdom': 25946,
 'teeth': 23115,
 'taddy': 22848,
 'salandpepper': 20131,
 'nah': 16029,
 'visiting': 25233,
 'rogue_leader': 19793,
 'traceyspacey': 24100,
 'raw': 19021,
 'fish': 8074,
 'dammit': 5445,
 'move': 15685,
 'chilling': 4125,
 'foot': 8296,
 'friendtasia': 8494,
 'gon': 9129,
 'save': 20308,
 'ya': 26351,
 'insult': 11088,
 'alan': 569,
 'carr': 3667,
 'repeat': 19383,
 'fucking': 8564,
 'rip': 19654,
 'josh': 12057,
 'whittle': 25781,
 'solid': 21612,
 'gone': 9132,
 'kelleyella': 12551,
 'ktva': 12986,
 'house': 10442,
 'neighbor': 16229,
 'elderly': 7020,
 'btmenw': 3207,
 'differentiate': 6098,
 'christian': 4232,
 'care': 3598,
 'supposed': 22617,
 'xtians': 26310,
 'idiot': 10717,
 'dd': 5674,
 'princess': 18471,
 'breakfast': 2978,
 'nj': 16531,
 'child': 4109,
 'told': 23901,
 'surprise': 22641,
 'righteousjorge': 19628,
 'moved': 15686,
 'lancaster': 13110,
 'kow': 12912,
 'far': 7791,
 'complain': 4687,
 'paulinacitzman': 17555,
 'vintage': 25195,
 'dallas': 5432,
 'wwdbgoe': 26191,
 'ii': 10771,
 'barbecue': 1908,
 'party': 17463,
 'excellent': 7535,
 'ashton': 1415,
 'miley': 15150,
 'paris': 17436,
 'megan': 14832,
 'deefybee': 5778,
 'uuuuugh': 24964,
 'since': 21179,
 'illy': 10816,
 'bein': 2171,
 'held': 9985,
 'hostage': 10412,
 'janiboink': 11488,
 'sitting': 21230,
 'bleatchers': 2552,
 'kaiden': 12311,
 'play': 18062,
 'thisispostell': 23577,
 'the_monarch': 23320,
 'problem': 18510,
 'butterfly': 3354,
 'saw': 20319,
 'tv': 24396,
 'program': 18543,
 'nhk': 16354,
 'osaka': 17173,
 'mzhazeleyeskim': 15994,
 'involved': 11172,
 'jkjk': 11854,
 'almost': 740,
 'bit': 2467,
 'chocolate': 4176,
 'mousse': 15681,
 'cake': 3440,
 'brushing': 3177,
 'fridge': 8486,
 'sigh': 21107,
 'buddy': 3235,
 'talking': 22895,
 'church': 4274,
 'fought': 8361,
 'urge': 24898,
 'craigeryowens': 5055,
 'didnt': 6082,
 'contest': 4828,
 'ahh': 467,
 'thnx': 23591,
 'givin': 8993,
 'usa': 24917,
 'listen': 13666,
 'appreciate': 1223,
 'brookewuhu': 3146,
 'secluded': 20544,
 'library': 13503,
 'gossip': 9195,
 'change': 3919,
 'dc': 5665,
 'metro': 14982,
 'train': 24124,
 'collide': 4589,
 'scene': 20373,
 'person': 17742,
 'killed': 12705,
 'everyone': 7485,
 'else': 7101,
 'togetherness': 23894,
 'lounging': 13971,
 'boxer': 2879,
 'ripped': 19658,
 'hard': 9748,
 'replace': 19388,
 'st': 22001,
 'bkt': 2495,
 'gantang': 8719,
 'chosed': 4200,
 'penderhaka': 17659,
 'congratulation': 4770,
 'rezki': 19550,
 'friskyradio': 8509,
 'apc': 1178,
 'ableton': 146,
 'live': 13701,
 'controller': 4843,
 'prize': 18502,
 'dj': 6280,
 'win': 25900,
 'dane': 5476,
 'cook': 4866,
 'portland': 18265,
 'mother': 15645,
 'fuck': 8555,
 'taboo': 22840,
 'late': 13172,
 'leave': 13321,
 'head': 9872,
 'ca': 3397,
 'uhmm': 24665,
 'wid': 25826,
 'kool_aid': 12893,
 'reading': 19063,
 'site': 21225,
 'focus': 8243,
 'starting': 22080,
 'finding': 8033,
 'career': 3601,
 'rolandi': 19802,
 'sãµbrad': 22826,
 'suuremad': 22680,
 'saying': 20328,
 'nigga': 16432,
 'true': 24287,
 'sans': 20211,
 'ecclestone': 6881,
 'woahitsemma': 25998,
 'itâ': 11322,
 'emma': 7158,
 'funkypaul': 8600,
 'joking': 11985,
 'chance': 3914,
 'bum': 3279,
 'caitap': 3429,
 'delightful': 5852,
 'mandamilmo': 14382,
 'san': 20188,
 'antonio': 1139,
 'natalia': 16102,
 'devine': 6019,
 'service': 20671,
 'extremely': 7636,
 'pissed': 17988,
 'mom': 15479,
 'took': 23977,
 'phone': 17851,
 'car': 3582,
 'key': 12621,
 'seriously': 20662,
 'txts': 24573,
 'jhastings': 11802,
 'kristinhersh': 12958,
 'seen': 20577,
 'skeleton': 21260,
 'bike': 2408,
 'mark': 14522,
 'spot': 21914,
 'dead': 5688,
 'cyclist': 5352,
 'mangled': 14402,
 'painted': 17341,
 'white': 25773,
 'nice': 16369,
 'roofer_on_fire': 19835,
 'nervous': 16272,
 'checked': 4003,
 'agree': 445,
 'read': 19059,
 'lot': 13944,
 'common': 4657,
 'tallcree': 22899,
 'rez': 19549,
 'boyfriend': 2887,
 'fashionrecipeonly': 7813,
 'handling': 9678,
 'fee': 7890,
 'zipia': 26710,
 'spree': 21930,
 'roughly': 19888,
 'usd': 24926,
 'hit': 10190,
 'cap': 3565,
 'support': 22611,
 'drive': 6631,
 'jersey': 11738,
 'instead': 11081,
 'buffy': 3247,
 'vampire': 25007,
 'slayer': 21341,
 'fuckin': 8563,
 'state': 22088,
 'police': 18175,
 'pulled': 18666,
 'checkin': 4005,
 'record': 19161,
 'tiannafilippi': 23687,
 'sexy': 20714,
 'bitch': 2468,
 'barely': 1918,
 'face': 7676,
 'aka': 542,
 'jellyfishsea': 11650,
 'massive': 14621,
 'hangover': 9688,
 'enjoyed': 7241,
 'honey': 10308,
 'meal': 14777,
 'place': 18028,
 'cuz': 5331,
 'yurple': 26644,
 'aunt': 1559,
 'funeral': 8595,
 'movie': 15689,
 'taken': 22876,
 'following': 8264,
 'europe': 7444,
 'ridiculous': 19618,
 ...}

In [24]:
word_frequencies = bow_df.sum()
word_frequencies

__dev_dsp    1
__dr__       1
__mares__    1
_abi_        1
_adriii      1
            ..
ð½ð¾         1
ð½ñ          1
ð¾           1
ð¾ð          1
ð¾ñ          2
Length: 26820, dtype: int64

In [27]:
top_5000_words = word_frequencies.sort_values(ascending=False).head(5000)

top_5000_words.index

Index(['day', 'wa', 'good', 'get', 'go', 'like', 'quot', 'got', 'love', 'time',
       ...
       'ðµð', 'bead', 'navy', 'nay', 'wahhh', 'bck', 'wagon', 'chai', 'wack',
       'betty'],
      dtype='object', length=5000)

In [28]:
bow_df[top_5000_words.index]

,day,wa,good,get,go,like,quot,got,love,time,...,ðµð,bead,navy,nay,wahhh,bck,wagon,chai,wack,betty
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Building Features

Now let's build the features. Using the top 5,000 words, create a 2-dimensional matrix to record whether each of those words is contained in each document (tweet). Then you also have an output column to indicate whether the sentiment in each tweet is positive. For example, assuming your bag of words has 5 items (`['one', 'two', 'three', 'four', 'five']`) out of 4 documents (`['A', 'B', 'C', 'D']`), your feature set is essentially:

| Doc | one | two | three | four | five | is_positive |
|---|---|---|---|---|---|---|
| A | True | False | False | True | False | True |
| B | False | False | False | True | True | False |
| C | False | True | False | False | False | True |
| D | True | False | False | False | True | False|

However, because the `nltk.NaiveBayesClassifier.train` class we will use in the next step does not work with Pandas dataframe, the structure of your feature set should be converted to the Python list looking like below:

```python
[
	({
		'one': True,
		'two': False,
		'three': False,
		'four': True,
		'five': False
	}, True),
	({
		'one': False,
		'two': False,
		'three': False,
		'four': True,
		'five': True
	}, False),
	({
		'one': False,
		'two': True,
		'three': False,
		'four': False,
		'five': False
	}, True),
	({
		'one': True,
		'two': False,
		'three': False,
		'four': False,
		'five': True
	}, False)
]
```

To help you in this step, watch the [following video](https://www.youtube.com/watch?v=-vVskDsHcVc) to learn how to build the feature set with Python and NLTK. The source code in this video can be found [here](https://pythonprogramming.net/words-as-features-nltk-tutorial/).

[![Building Features](building-features.jpg)](https://www.youtube.com/watch?v=-vVskDsHcVc)

In [ ]:
# your code here

### Building and Traininng Naive Bayes Model

In this step you will split your feature set into a training and a test set. Then you will create a Bayes classifier instance using `nltk.NaiveBayesClassifier.train` ([example](https://www.nltk.org/book/ch06.html)) to train with the training dataset.

After training the model, call `classifier.show_most_informative_features()` to inspect the most important features. The output will look like:

```
Most Informative Features
	    snow = True            False : True   =     34.3 : 1.0
	  easter = True            False : True   =     26.2 : 1.0
	 headach = True            False : True   =     20.9 : 1.0
	    argh = True            False : True   =     17.6 : 1.0
	unfortun = True            False : True   =     16.9 : 1.0
	    jona = True             True : False  =     16.2 : 1.0
	     ach = True            False : True   =     14.9 : 1.0
	     sad = True            False : True   =     13.0 : 1.0
	  parent = True            False : True   =     12.9 : 1.0
	  spring = True            False : True   =     12.7 : 1.0
```

The [following video](https://www.youtube.com/watch?v=rISOsUaTrO4) will help you complete this step. The source code in this video can be found [here](https://pythonprogramming.net/naive-bayes-classifier-nltk-tutorial/).

[![Building and Training NB](nb-model-building.jpg)](https://www.youtube.com/watch?v=rISOsUaTrO4)

In [1]:
# your code here

### Testing Naive Bayes Model

Now we'll test our classifier with the test dataset. This is done by calling `nltk.classify.accuracy(classifier, test)`.

As mentioned in one of the tutorial videos, a Naive Bayes model is considered OK if your accuracy score is over 0.6. If your accuracy score is over 0.7, you've done a great job!

In [ ]:
# your code here

## Bonus Question 1: Improve Model Performance

If you are still not exhausted so far and want to dig deeper, try to improve your classifier performance. There are many aspects you can dig into, for example:

* Improve stemming and lemmatization. Inspect your bag of words and the most important features. Are there any words you should furuther remove from analysis? You can append these words to further remove to the stop words list.

* Remember we only used the top 5,000 features to build model? Try using different numbers of top features. The bottom line is to use as few features as you can without compromising your model performance. The fewer features you select into your model, the faster your model is trained. Then you can use a larger sample size to improve your model accuracy score.

In [ ]:
# your code here

## Bonus Question 2: Machine Learning Pipeline

In a new Jupyter Notebook, combine all your codes into a function (or a class). Your new function will execute the complete machine learning pipeline job by receiving the dataset location and output the classifier. This will allow you to use your function to predict the sentiment of any tweet in real time.

In [ ]:
# your code here

## Bonus Question 3: Apache Spark

If you have completed the Apache Spark advanced topic lab, what you can do is to migrate your pipeline from local to a Databricks Notebook. Share your notebook with your instructor and classmates to show off your achievements!

In [ ]:
# your code here